<div class="mt-4">
    <div class="row">
        {{#each videos}}
        <div class="col-sm-6 col-lg-3">
            <a href="/video/{{this._id}}">
            <div class="card">
                <img class="card-img-top" src="https://img.youtube.com/vi/{{this.videoid}}/sddefault.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">{{this.tenvideo}}</h6>
                    <p class="card-text">{{this.tenkenh}}</p>
                </div>
            </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>