<div class="mt-4">
    <h1>Thêm Video</h1>
    <form method="post" action="/video/Store">
        <div class="form-group">
            <label for="tenvideo">Tên Video</label>
            <input type="text" class="form-control"  name="tenvideo">
        </div>
        <div class="form-group">
            <label for="tenkenh">Tên Kênh</label>
            <input type="text" class="form-control"  name="tenkenh">
        </div>
        <div class="form-group">
            <label for="videoid">Video Id</label>
            <input type="text" class="form-control"  name="videoid">
        </div>
        <div class="form-group">
            <label for="ghichu">Ghi Chú</label>
            <textarea  class="form-control" name="ghichu"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Lưu Video</button>
    </form>
</div>